body{
  background-color: FloralWhite;
  font-family: Times, serif;
  text-align: center;
  margin: 50px;
}

.stock1 {
  color: blue;
  font-weight: bold;
  font-size: 18px;
}

.stock2 {
  color: green;
  font-weight: bold;
  font-size: 18px;
}

.stock3 {
  color: red;
  font-weight: bold;
  font-size: 18px;
}
